<% layout("/layouts/boilerplate.ejs") %>

<title>SecureNote : Error</title>

<div class="row">
  <h1><%= title %></h1>
  <p class="mb-4"><%= message %></p>
  <div>
    <a class="btn btn-primary btn-dark" href="/">Go to Home Page</a>
  </div>
</div>
