<% layout("/layouts/boilerplate.ejs") %>

<title>SecureNote : New Note</title>

<!-- Form without options -->
<form
  id="noteForm"
  action="/api/notes"
  method="POST"
  class="needs-validation"
  novalidate
>
  <div class="row gx-0">
    <h1 class="p-0">Create a New Note</h1>
  </div>
  <div class="row gx-0">
    <textarea
      class="form-control bg-warning-subtle border-0 my-2"
      rows="6"
      name="content"
      id="noteContent"
      placeholder="Write your note here..."
      required
    ></textarea>
  </div>
  <div class="row gx-0">
    <div class="mt-4 p-0">
      <button
        type="button"
        class="btn btn-primary add-btn me-4"
        id="createNoteBtn"
      >
        Create Note
      </button>
      <button type="button" class="btn btn-primary btn-dark" id="toggleOptions">
        Show Options
      </button>
    </div>
  </div>
</form>

<!-- Form with options -->
<form
  id="noteFormAdvanced"
  action="/api/notes"
  method="POST"
  class="needs-validation"
  novalidate
  style="display: none"
>
  <div class="row gx-0">
    <h1 class="p-0">Create a New Note</h1>
  </div>
  <div class="row gx-0">
    <textarea
      class="form-control bg-warning-subtle border-0 my-2"
      rows="6"
      name="content"
      id="noteContentAdvanced"
      placeholder="Write your note here..."
      required
    ></textarea>
  </div>
  <div id="options">
    <div class="row">
      <div class="col-12 col-md-6 my-2">
        <label for="expire" class="form-label">Note self-destructs</label>
        <select class="form-select" id="expire" name="expire" required>
          <option selected value="0">
            After reading it or 1 year from now
          </option>
          <option value="1">1 hour from now</option>
          <option value="2">24 hours from now</option>
          <option value="3">7 days from now</option>
          <option value="4">30 days from now</option>
        </select>
      </div>
      <div class="col-12 col-md-6 my-2">
        <label for="email" class="form-label"
          >E-mail to send destruction notification.</label
        >
        <input type="email" class="form-control" id="email" name="email" />
        <div class="invalid-feedback">Please enter a valid email address.</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 my-2">
        <label for="password1" class="form-label">Set password for note</label>
        <input
          type="password"
          class="form-control"
          id="password1"
          name="pass"
        />
      </div>
      <div class="col-12 col-md-6 my-2">
        <label for="password2" class="form-label">Re-enter the password</label>
        <input type="password" class="form-control" id="password2" />
      </div>
    </div>
  </div>
  <div class="row gx-0">
    <div class="mt-4 p-0">
      <button
        type="button"
        class="btn btn-primary add-btn me-4"
        id="createNoteAdvanced"
      >
        Create Note
      </button>
      <button
        type="button"
        class="btn btn-primary btn-dark"
        id="toggleOptionsAdvanced"
      >
        Hide Options
      </button>
    </div>
  </div>
</form>

<script src="/js/createNote.js"></script>
